.dropdown {
  min-width: 100px;
}
.dropdown-btn {
  font-size: 16px;
  background: white;
  border: 3px solid #C0CAD3;
  border-radius: 4px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  width: 150px;
}
.dropdown-btn:hover,
.dropdown-btn:focus {
  background: #f2f2f2;
}

.dropdown-items {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 200px;
  position: absolute;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border: 1px solid black;
  padding: 8px 15px;
  border-radius: 4px;
  background-color: white;
  ;
}
.dropdown-item {
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}
.dropdown-item:not(first-child) {
  padding-top: 15px;
  padding-bottom: 15px;
}
.dropdown-item:not(last-child) {
  padding-top: 15px;
  padding-bottom: 15px;
}

.isVisible {
  visibility: visible;
}
.isHidden {
  visibility: hidden;
}
